[submodule "EDMC/Submodules/PyHid"]
	path = EDMC/Submodules/PyHid
	url = https://github.com/DanForever/PyHid.git
[submodule "EDMC/Submodules/pyserial"]
	path = EDMC/Submodules/pyserial
	url = https://github.com/pyserial/pyserial.git
